Movie Ticketing Node-RED.json
[{"id":"8a889b46.232388","type":"tab","label":"Movie Ticket Chatbot Flow","disabled":false,"info":""},{"id":"531863d7.a25a9c","type":"watson-conversation-v1","z":"8a889b46.232388","name":"Resto Bot","workspaceid":"8c67d67d-a372-458f-a928-6812e34ab650","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/92c2b7a2-3bad-4da4-8e8e-6325ea07484f","timeout":"","optout-learning":false,"x":320,"y":120,"wires":[["351a4ed4.7c35c2"]]},{"id":"d222dc84.d6cb5","type":"inject","z":"8a889b46.232388","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":110,"y":120,"wires":[["531863d7.a25a9c"]]},{"id":"8ee01420.26f7a8","type":"debug","z":"8a889b46.232388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":200,"wires":[]},{"id":"351a4ed4.7c35c2","type":"function","z":"8a889b46.232388","name":"","func":"if(msg.payload.output.generic[0].response_type==\"message\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://upload.wikimedia.org/wikipedia/commons/d/dc/Pvrcinemas_logo.jpg\"\n  }  msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["8ee01420.26f7a8","aa508e75.d86f6","92d455ed.f27b88","44be8af9.2fdb74"]]},{"id":"b7ec8218.751dc","type":"ui_form","z":"8a889b46.232388","name":"","label":"","group":"7b0c0635.3724d8","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":280,"wires":[["5ed7d7b8.e3dc68"]]},{"id":"5ed7d7b8.e3dc68","type":"function","z":"8a889b46.232388","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":400,"wires":[["531863d7.a25a9c","ce464e4f.2c987"]]},{"id":"ce464e4f.2c987","type":"ui_text","z":"8a889b46.232388","group":"7b0c0635.3724d8","order":3,"width":"6","height":"2","name":"","label":"Client :","format":"{{msg.payload}}","layout":"col-center","x":690,"y":380,"wires":[]},{"id":"aa508e75.d86f6","type":"ui_text","z":"8a889b46.232388","group":"7b0c0635.3724d8","order":4,"width":"6","height":"4","name":"","label":"PVR Bot:","format":"{{msg.payload}}","layout":"col-center","x":660,"y":280,"wires":[]},{"id":"92d455ed.f27b88","type":"ui_audio","z":"8a889b46.232388","name":"","group":"7b0c0635.3724d8","voice":"en-US","always":"","x":640,"y":40,"wires":[]},{"id":"44be8af9.2fdb74","type":"ui_template","z":"8a889b46.232388","group":"7b0c0635.3724d8","name":"","order":6,"width":"6","height":"6","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":740,"y":120,"wires":[[]]},{"id":"7b0c0635.3724d8","type":"ui_group","z":"","name":"Movie Assistent Bot","tab":"c36e8066.115d1","order":1,"disp":true,"width":"6","collapse":false},{"id":"c36e8066.115d1","type":"ui_tab","z":"","name":"PVR Multiplex Cinema's Help Desk","icon":"dashboard","disabled":false,"hidden":false}]